@{
    ViewData["Title"] = "O Bazie";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<div class="row">
    <div class="col-md-6">
        <p>Celem <strong>Bazy miejsc obozowych</strong> jest zebranie wszystkich znanych i dostępnych miejsc w kraju, w których wszytskie jednostki będą mogły śmiało organizować swoje wydarzenia.</p>
        <p>Zebranie wszystkich danych na temat każdego z dodanych miejsc, jak i komentarze osób, które te miejsca znają, pozwolą na sprawniejszą organizację obozu (między innymi dzięki informacjom, do jakich urzędów należy się zwrócić podczas przygotowania do wyjazdów).</p>
        <p>Każda dodana wiadomość będzie uwiarygadniała miejsce obozowe, przedstawiając zarówno jego dobre, jak i złe strony. Dzięki Komentarzom będzie można podjąć decyzję, czy warto w konkretnym miejscu przygotowywać obóz, zimowisko czy biwak.</p>
        <p>Dodatkowo, każdy szef jednostki, będzie mógł ustawić "rezerwację" miejsca, wraz z terminem obozu. Jeżeli rezerwacja będzie oznaczona jako potwierdzona, będzie wiadomo, że miejsce to jest zajęte w podanym okresie. Jeżeli natomiast rezerwacja będzie oznaczona jako "planowana", będzie można z autorem rezerwacji porozumieć się w celu ewentualnych konkretniejszych planów.</p>
    </div>
    

</div>
